<h1>New Student</h1>

<tr><td>CWID: <input type = "text" name = "CWID"></td>
<td>Name: <input type = "text" name = "Name"></td>
<td>Professor: <input type = "text" name = "Professor"></td></tr>

<form action="/" method="get">
    <tr><td><input type = "submit" value = "Submit"></td></tr>