<h1>Welcome to MathLabTracker!</h1>


<%= form_tag("/students/show", method: "get") do %>
  <%= label_tag(:q, "Enter CWID:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Check Hours") %>
<% end %>

<form action="/login" method="get">
    <tr><td><input type = "submit" value = "Sign In"></td></tr>
</form>

<form action="/students/show" method="get">
    <tr><td><input type = "submit" value = "Student Hours"></td></tr>
</form>

<form action="/professor" method="get">
    <tr><td><input type = "submit" value = "Professor Hours"></td></tr>
</form>

<form action="/students/new" method="get">
    <tr><td><input type = "submit" value = "Create New Student"></td></tr>
</form>
