<h1>Welcome to MathLabTracker!</h1>

<tr><td>Enter CWID: <input type = "text" name = "CWID"></td></tr>

<form action="/student/show" method="get">
    <tr><td><input type = "submit" value = "Sign In"></td></tr>
</form>

<form action="/student" method="get">
    <tr><td><input type = "submit" value = "Student Hours"></td></tr>
</form>

<form action="/professor" method="get">
    <tr><td><input type = "submit" value = "Professor Hours"></td></tr>
</form>

<form action="/student/new" method="get">
    <tr><td><input type = "submit" value = "Create New Student"></td></tr>
</form>
